<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://neodeex-webapi-demo-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ff58aac1-edc3-403a-8a6a-7946afa6163f/resourcegroups/neodeex-webapi-demo/providers/Microsoft.Web/sites/neodeex-webapi-demo-func</ResourceId>
    <UserName>$neodeex-webapi-demo-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://neodeex-webapi-demo-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>